<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="workspace">

        <form
            style="display: flex; justify-content:space-between;flex-wrap: wrap; margin-left: 10px;margin-right: 10px; height: 20%;"
            action="/AddExpense" method="POST">
            <div class="items">
                <label for="date" style="display: block;"> Date</label>
                <input type="date" id="date" name="date" required>
            </div>
            <div class="items">
                <label for="category" style="display: block;">Category</label>
                <input type="text" id="category" name="category" required>
            </div>
            <div class="items">
                <label for="amount" style="display: block;">Amount Expensed</label>
                <input type="number" id="amount" name="amount" required>
            </div>
            <button type="submit" id="submitButton">Add
                Expense</button>
        </form>
      
        <div class="allContent">
        
            <!-- History Div -->
        <div class="History">
            <table>
                <thead>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </thead>
                <tbody>

                    {% for data in myTable %}
                    <tr>
                        <td>{{data.date.strftime('%d-%m-%Y')}}</td>
                        <td>{{data.category}}</td>
                        <td>{{data.amount}}</td>
                        <td>
                             <button class="btn" id="{{data.sno}}"
                                    onclick="deleteRow(id)">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div id="barChart"></div>
        <div id="pieChart"></div>

        </div>



    </div>





    <script>



        function ShowHistory() {

        }


        function deleteRow(id) {
            if(confirm("Do you want to delete this entry ?")){
                end_point = '/delete/'+id
                window.location.href = end_point
                
              

               
              
           }
           
        }


    </script>

    <script type="text/javascript">

        var data = JSON.parse('{{ data | safe }}')
        var categories = data.map(item => item.category);
        var amounts = data.map(item => item.amount);

        var plotData = [{ values: amounts, labels: categories, type: 'pie' }];
        console.log(data)
        var layout = { autosize: true, margin: { l: 0, r: 20, b: 0, t: 0 },height:300 ,width:400};
        Plotly.newPlot('pieChart', plotData, layout);
        window.onresize = function() { 
            Plotly.relayout('pieChart', { 'xaxis.autorange': true, 'yaxis.autorange': true }); 
        }




        // Plotting the bar graph over here

        var bar_data = JSON.parse('{{bar_graph_data|safe}}')
        var date = bar_data.map(item => item.date)
        var exp = bar_data.map(item => item.amount)
     
        var layout_bar = {  margin: { l: 20, r: 0, b: 80, t: 30 },height:400 ,width:300,  title: 'Expenditure per Day',
                           xaxis:{tickformat: '%Y-%m-%d',tickangle:90} ,yaxis:{title:'Amount' , showticklabels:false}   };
      

        var plot_data = [{
            x:date,
            y:exp,
            type:"bar",
            marker: {color:"rgba(0,0,255,0.6)"}
        }];

        Plotly.newPlot('barChart',plot_data,layout_bar)



    </script>




</body>

</html>